@page
@model front_end.Pages.ListtoListModel
@{
}

<style>
	main>form {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
	th, td {
		white-space: nowrap;
	}
</style>

@if(!string.IsNullOrEmpty(Model.ErrorMessage))
{
	<p style="color:red; font-weight: bold;">@Model.ErrorMessage</p>
}

@if(!string.IsNullOrEmpty(Model.SuccessMessage))
{
	<p style="color:green; font-weight: bold;">@Model.SuccessMessage</p>
}

<form method="post">
	<div>
		<h1>Available Colors</h1>
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Hex</th>
					<th>RGB</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.AvailableColors)
				{
					<tr>
						<td>
							<input type="hidden" name="AvailableColors.Index" value="@item.Name" />
							<button type="submit" name="SelectedAddColor" value="@item.Name">Add</button>
						</td>
						<td>
							<input type="hidden" name="AvailableColors[@item.Name].Name" value="@item.Name" />
							<span style="display:inline-block; width: 16px; height: 16px; background-color:@item.HexCode"></span>
							@item.Name
						</td>
						<td>
							<input type="hidden" name="AvailableColors[@item.Name].HexCode" value="@item.HexCode" />
							@item.HexCode
						</td>
						<td>
							<input type="hidden" name="AvailableColors[@item.Name].RgbCode" value="@item.RgbCode" />
							@item.RgbCode
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
	<div>
		<h1>Your Color Pallete</h1>
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Name</th>
					<th>Hex</th>
					<th>RGB</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.ColorPallete)
				{
					<tr>
						<td>
							<input type="hidden" name="ColorPallete.Index" value="@item.Name" />
							<button type="submit" name="SelectedRemoveColor" value="@item.Name" class="">Remove</button>
						</td>
						<td>
							<input type="hidden" name="ColorPallete[@item.Name].Name" value="@item.Name" />
							<span style="display:inline-block; width: 16px; height: 16px; background-color:@item.HexCode"></span>
							@item.Name
						</td>
						<td>
							<input type="hidden" name="ColorPallete[@item.Name].HexCode" value="@item.HexCode" />
							@item.HexCode
						</td>
						<td>
							<input type="hidden" name="ColorPallete[@item.Name].RgbCode" value="@item.RgbCode" />
							@item.RgbCode
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</form>